streamlit==1.35.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langsmith==0.1.81
pydantic==1.10.14
openai==1.35.0
tiktoken==0.7.0
faiss-cpu==1.8.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
